{% extends "base.html" %}
{% load i18n static %}

{% block extrahead %}
    <link type="text/css" rel="stylesheet"
         href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{% static "booth/style.css" %}" />
{% endblock %}
{%block content%}
<style>
   .option-element {
       margin-right: 1em;
   }
</style>

<div id="app-booth">
   <div id="admin-census">
       <!-- Navbar -->
       <nav class="navbar navbar-dark bg-primary">
           <div class="container-fluid">
            <a class="navbar-brand" href="/">Decide</a>
           </div>
       </nav>
   </div>
   <br>
<div class="col">
    <h1 style="text-align:center ; ">Nueva pregunta</h1>
        <form method="post" enctype="multipart/form-data"> {% csrf_token %}
            <div class="form-group" style="padding: 25px; padding-bottom: 0px;">
            <h4 >Descripción
                <input id="desc" type="text" name="desc" class="form-control" placeholder="Descripción">
            </h4>
            </div>

            <div class="form-group" style="padding: 25px; padding-bottom: 0px;">
            <h4>Respuestas:
                {% for n in numero%}
                <br>
                <br>    
                <div class="form-group">
                    <h6>Respuesta {{n}}</h6>
                    <input id="ans_{{n}}" type="text" name="ans_{{n}}" class="form-control" placeholder="Respuestas">
                </div>   
            {% endfor %}
            
            
            </h4>
            
            <div style="padding: 25px; padding-bottom: 0px;">
            <button type="submit" class="btn btn-primary">Registrar</button>
            </div>
        </form>
</div>

{% endblock %}